body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 320px 198px 153px 50px;
  grid-template-rows: 414px 130px 155px 22px;
  gap: 9px;
  background-color: black;
}

.item-1 {
  background-color: #bf2a1a;
  grid-column: 1/2;
}

.item-2 {
  background-color: #ecefe7;
  grid-column: 2/5;
}

.item-3 {
  background-color: #ecefe7;
  grid-column: 1/2;
  grid-row: 2/4;
}

.item-4 {
  background-color: #ecefe7;
  grid-column: 2/4;
  grid-row: 2/4;
}

.item-5 {
  background-color: #213a82;
  grid-column: 4/5;
  grid-row: 2/3;
  border-bottom: 10px solid black;
}

.item-6 {
  background-color: #ecefe7;
  grid-column: 4/5;
  grid-row: 3/5;
}

.item-7 {
  background-color: #ecefe7;
  grid-column: 1/2;
  grid-row: 4/5;
}

.item-8 {
  background-color: #edd003;
  grid-column: 2/3;
  grid-row: 4/5;
}

.item-9 {
  background-color: black;
  grid-column: 3/4;
  grid-row: 4/5;
}
